{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item publication-card publication-card--cv">
  <article class="archive__item publication-card__inner" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="publication-card__content">
      <li>
        <h3 class="archive__item-title publication-card__title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h3>

        <p class="publication-card__meta">
          {{ post.venue_full | default: post.venue }}
          {% if post.venue_abbr %}
            <span class="abbr-chip">{{ post.venue_abbr }}</span>
          {% endif %}
          {% if post.oral %}
            <span class="oral-chip">Oral</span>
          {% endif %}
        </p>

        <div class="publication-card__links">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">View details</a>
          {% if post.paperurl and post.paperurl != '' %}
            | <a href="{{ post.paperurl }}">Download paper</a>
          {% endif %}
        </div>
      </li>
    </div>

    {% if post.poster %}
      <div class="publication-card__poster">
        <button class="poster-thumb-trigger" type="button" aria-label="Preview poster for {{ post.title }}" data-poster-src="{{ post.poster | prepend: base_path }}" data-poster-alt="Poster for {{ post.title }}">
          <img src="{{ post.poster | prepend: base_path }}" alt="Poster for {{ post.title }}">
        </button>
      </div>
    {% endif %}
  </article>
</div>
